h3 {
  text-align: center;
  border-style: groove;
}
h3 span {
  border-radius: 16px;
  border-color: #013369;
  border-style: outset;
  border-width: 2px;
  color: #013369;
  background-color: white;
  font-weight: bolder;
  font-family: helvetica;
  font-style: italic;
}
.nfl-color {
  background-color: black;
  color: #d50a0a;
}

.navbar-custom {
  background-color: #013369;
}

.nav-link {
  color: #013369;
  font-weight: bolder;
  border-style: groove;
  border-width: 1px;
  border-radius: 16px;
  background-color: white;
  font-family: helvetica;
}
