<!--Navigation bar logic begins-->
<nav class="navbar navbar-expand-md navbar-custom">
  <div class="container-fluid">
    <div class="navbar-nav">
      <a href="#" class="nav-item nav-link active">Home</a>
      <a routerLink="/nfldraftanalysis/about" class="nav-item nav-link"
        >About</a
      >
    </div>
  </div>
</nav>
<!--Title content begins-->
<div class="container-fluid pt-3 pb-3 packers-color packers-color-border-all">
  <h3><span>NFL DRAFT ANALYSIS</span></h3>
</div>
<!--Title content ends-->
