h3 {
  text-align: center;
}
h3 span {
  border-radius: 8px;
  border-color: #ffb612;
  border-style: groove;
  border-width: 2px;
}
.packers-color {
  background-color: #203731;
  color: white;
}

.packers-color-border-all {
  border-left: 2px solid #ffb612;
  border-right: 2px solid #ffb612;
  border-top: 1px solid #ffb612;
  border-bottom: 1px solid #ffb612;
}

.navbar-custom {
  background-color: #ffb612;
  border-style: groove;
  border-left: 2px solid #203731;
  border-right: 2px solid #203731;
  border-top: 2px solid #203731;
  border-bottom: 1px solid #203731;
}

.nav-link {
  color: #393e52;
  font-weight: bold;
}
