h3,
h6,
th,
td {
  text-align: center;
}
h3 span {
  border-radius: 8px;
  border-color: #ffb612;
  border-style: groove;
  border-width: 2px;
}
.packers-color {
  background-color: #203731;
  color: white;
}

.packers-color-border-all {
  border-left: 2px solid #ffb612;
  border-right: 2px solid #ffb612;
  border-top: 1px solid #ffb612;
  border-bottom: 1px solid #ffb612;
}

.packers-color-border-three-sides {
  border-left: 2px solid #ffb612;
  border-right: 2px solid #ffb612;
  border-bottom: 1px solid #ffb612;
}

/**
Overriding bootstrap values for setting table header and data colors
**/
table.table.table-striped tr.packers-data-colors td {
  background-color: #203731;
  color: white;
  border-color: #ffb612;
  border-style: groove;
  border-width: 1px;
}

table.table.table-striped tr.packers-header-colors th {
  border-color: #ffb612;
  border-style: groove;
  border-width: 2px;
}

.navbar-custom {
  background-color: white;
  border-style: groove;
  border-left: 2px solid #203731;
  border-right: 2px solid #203731;
  border-top: 2px solid #203731;
  border-bottom: 1px solid #203731;
}

.nav-link {
  color: #ffb612;
  font-weight: bold;
}

.packers-alternate-color-btn {
  color: #393e52;
  background-color: #ffb612;
  border-color: #203731;
  border-radius: 8px;
  border-style: groove;
  border-width: 2px;
  font-size: large;
  font-weight: bold;
}
