.nfl-alternate-color-btn {
  color: #013369;
  background-color: white;
  border-color: #013369;
  border-radius: 8px;
  border-style: groove;
  border-width: 4px;
  font-size: medium;
  font-weight: bolder;
  font-family: helvetica;
}

.nfl-color {
  background-color: white;
  color: #013369;
  font-family: helvetica;
  font-weight: bolder;
}

h2 span {
  color: #d50a0a;
  font-size: x-large;
  text-decoration: underline;
  text-align: left;
  font-family: helvetica;
}

pre {
  font-family: helvetica;
  font-size: medium;
}
