h3,
h6,
th,
td {
  text-align: center;
}
h3 span {
  border-radius: 8px;
  border-color: #c9243f;
  border-style: groove;
  border-width: 2px;
}
.sf-color {
  background-color: #c8aa76;
  color: #c9243f;
}

.sf-color-border-three-sides {
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 1px solid black;
}

/**
Overriding bootstrap values for setting table header and data colors
**/
table.table.table-striped tr.sf-data-colors td {
  background-color: #c8aa76;
  color: #c9243f;
  border-color: black;
  border-style: groove;
  border-width: 1px;
}

table.table.table-striped tr.sf-header-colors th {
  border-color: black;
  border-style: groove;
  border-width: 1px;
  background-color: #c9243f;
  color: #c8aa76;
}

.sf-alternate-color-btn {
  color: #c8aa76;
  background-color: #c9243f;
  border-color: #c8aa76;
  border-radius: 8px;
  border-style: groove;
  border-width: 2px;
  font-size: large;
  font-weight: bold;
}

.sf-color {
  color: #c9243f;
}
